pkgbase = yesplaymusic
	pkgdesc = A third party music application for Netease Music
	pkgver = 0.4.5
	pkgrel = 1
	url = https://github.com/qier222/YesPlayMusic
	arch = x86_64
	license = MIT
	depends = electron19
	optdepends = libnotify
	optdepends = libappindicator-gtk3
	provides = yesplaymusic
	source = YesPlayMusic-0.4.5.pacman::https://github.com/qier222/YesPlayMusic/releases/download/v0.4.5/YesPlayMusic-0.4.5.pacman
	source = yesplaymusic.desktop
	sha256sums = 77bc47093cf5f954f8f08fe22e91a9d0dc2d8d8414f85c092126edb9fbec26e5
	sha256sums = cfbb79c471f5ae1010e17c8abc1f4decb738a8214138b9b703e8d8239d56fc15

pkgname = yesplaymusic
