[Desktop Entry]
Name=YesPlayMusic
Exec=electron19 /usr/share/yesplaymusic/yesplaymusic.asar %U
Terminal=false
Type=Application
Icon=yesplaymusic
StartupWMClass=YesPlayMusic
Comment=A third party music player for Netease Music
Comment[zh_CN]=高颜值的第三方网易云播放器
Categories=Music;AudioVideo;Player;
